.messanger {
    padding-top: 20px;
}

.messanger *:not(h2) {
    font-size: 16px !important;
    color: white !important
}

.messageList-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: rgba(0,0,0,.5);
    border-radius: 18px;
}

.ui.comments.messageList {
    width: 100%;
    height: 250px;
    overflow-y: auto; 
    margin-bottom: 20px;
    padding: 12px;
    padding-top: 30px;
    box-sizing: border-box;
}

.messageList-container__typing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    height: 30px;
}

.messageList .right {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.messageList .left {
    display: flex;
}

.messageList .comment .content {
    width: 50%;
}

.messageList__item {
    margin-top: 20px;
}

.messageList__item:first-child {
    margin-top: 0;
}

.messageControls {
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.messageControls .field {
    width: 100%;
}

.messageControls__label {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
}

.messageControls__label:first-child {
    font-size: 16px;
    margin-left: 0;
}

.ui.form textarea:not([rows]).messageControls__text-field--area  {
    width: 100%;
    height: 110px;
    background-color: rgba(0,0,0,0.3);
    resize: none;
}

.ui.button.messageControls__btn {
    width: 100px;
    margin-top: 10px;
    margin-left: 6px;
    padding: 12px;
    cursor: pointer;
}

.online-users { 
    background-color: rgba(0,0,0,.5);
    border-radius: 18px;
}

.feed.users__list {
    width: 100%;
    height: 467px;
    overflow-y: auto; 
    margin-bottom: 20px;
    padding: 12px;
    padding-top: 30px;
    box-sizing: border-box;
}