.profile--wrap {
    color: white;
}

.profile {
    font-size: 18px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile__button-container {
    text-align: center;
    margin-top: 20px;
}

.profile__avatar {
    max-width: 200px;
}

.profile__avatar img{
    max-width: 100%;
}

.ui.primary.button.profile__button {
    display: inline-block;
}
