.main-header {
    background-color: #2185D0;
}

.main-header__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header__nav-link {
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 12px;
}