.ui.button.profile__button {
    margin-top: 20px;
}

.edit-profile {
    color: white;
    margin: 0 auto;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(0,0,0,.5);
}

.edit-profile .ui.form .field > label {
    color: white;
}

.edit-profile__avatar {
    max-width: 200px;
    margin: 0 auto;
}

.edit-profile__avatar img{
    max-width: 100%;
}

.edit-profile__showCrop {
    top: 50%;
    transform: translateY(-50%);
}

.ui.modal.edit-profile__showCrop > .image.content {
    flex-direction: column;
    overflow: hidden;
}

.ui.modal.edit-profile__showCrop .cropper-bg {
    width: 100% !important;
}