.auth {
    max-width: 500px;
    color: white ;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 18px;
    background-color: rgba(0,0,0,0.3);
}

.auth .ui.form .field > label {
    color: white !important;
}